<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Desc left:</strong>
  <%= @slide.desc_left %>
</p>

<p>
  <strong>Desc right:</strong>
  <%= @slide.desc_right %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@slide.picture.url(:thumb)) %>
</p>

<p>
  <strong>Published:</strong>
  <%= @slide.published %>
</p>


<%= link_to 'Edit', edit_admin_slide_path(@slide) %> |
<%= link_to 'Back', admin_slides_path %>
