<p id="notice"><%= notice %></p>

<h1>Slides</h1>

    <% @slides.each do |slide| %>
      <div>
        <h2><%= slide.name %></h2>
        <%= image_tag slide.picture.url(:thumb) %>
        <p><%= slide.desc_left %> <%= slide.desc_right %></p>
      </div>
    <% end %>
  </tbody>
</table>

<br>
