<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
  <strong>desc_left:</strong>
  <%= @slide.desc_left %>
  <strong>desc_right:</strong>
  <%= @slide.desc_right %>
  <%= image_tag(@slide.picture.url(:med)) %>
</p>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
